include README.md
include LICENSE
include requirements.txt

# Include only essential package data
recursive-include casino_of_life/data *
recursive-include casino_of_life/scenarios *
recursive-include casino_of_life/game_wrappers *

# Exclude unnecessary files
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude .git*
global-exclude .DS_Store
global-exclude *.swp
global-exclude *.swo
global-exclude __pycache__/*
